* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    gap: 30px;
    font-size: 13px;
}
.menu-icon{
    width: 35px;
    height: 35px;
    padding: 5px;
}
.menu-icon:hover {
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    border-radius: 100%;
}
.avatar {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: #8f16f8;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar:hover{
    cursor: pointer;
}
.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    height: calc(100vh - 60px - 94px);
}
.logo-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;

}
.logo-principal{
    width: 375px;
}
.logo-shared {
    background-color: #b1fe6d;
    border-radius: 3px;
    padding: 2px;
    opacity: 0.8 ;
    position: absolute;
    right: -35px;
    bottom: 10px;
    
}


.searcher {
    width: 582px;
    height: 44px;
    border: 1px solid #dfe1e5;
    padding: 10px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.searcher:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

input {
    width: 100%;
    border: none;
    outline: none;
}

.icons-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.icons-searcher {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    color: #9aa0a6;
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
}

.button:hover {
    border: 1px solid #cacaca;
}

.about{
    font-size: 13px;
}

.footer {
    height: 94px;
    flex-direction: column;
    display: flex;
    background-color: #f2f2f2;
    padding: 0 15px;

}

.peru {
    border-bottom: 1px solid #dadce0;
    padding: 15px;
    height: 48px;
}

.peru span {
    color: gray;
    font-size: 15px;
}

.about-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 15px;
    height: 46px;
}
.about-footer a {
color: grey;
font-size: 14px;
}

.about-footer div {
   display: flex;
   gap: 30px;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}